body{
  background-color: rgb(192, 191, 191);
}

.App {
  text-align: center;
  margin: 15px auto;
  background: white;
  width: 45%;
}

.formulario {
  display: flex;
}

.formulario input[type="text"]{
  width: 70%;
  border: 2px solid orange;
}

.formulario input[type="submit"]{
  width: 30%;
  background-color: black;
  color: white;
}

.contenedor{
  background: red;
}

.contenedor .iconoClima{
  width: 45%;
  margin: 10px auto;
}

.contenedor .iconoClima img{
  width: 100%;
}